<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:name="com.dukaancalculator.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DukaanCalculator"
        tools:targetApi="31">
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.IsSaleOrMaalUddharActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.maalreport.ViewMaalReportActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.maalreport.MaalReportActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.maalreport.SuppliersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.salereport.ViewSaleReportActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.salereport.CustomersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.salereport.SaleReportActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.reports.ReportsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.kharchamodule.KharchaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.udhharmodule.UddharForMaalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.udhharmodule.UddharForSaleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.maalmodule.MaalBankPaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.maalmodule.MaalReceiptActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.maalmodule.MaalNewSaleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.maalmodule.TotalMaalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.salemodule.BankPaymentScreen"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.salemodule.ReceiptActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.salemodule.NewSaleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.salemodule.TotalSaleProductActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.loginsignup.MoreDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.loginsignup.SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.loginsignup.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.dukaancalculator.ui.activities.intro.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dukaancalculator.ui.activities.salemodule.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.atta.dukaancalculator.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>